* {
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

nav {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul a {
    color: black;
    font-size: 15px;
}

.logo {
    width: 200px;
}

.btn {
    background-color: black;
    color: white;
    padding: 20px 50px;
    font-size: 18px;
    border-radius: 35px;
    border: 1px solid black;

}

.btn:hover {
    background-color: white;
    color: black;
    border-radius: 35px;
    border: 1px solid rgba(0, 0, 0, 0.772);

}

.content {
    background-image: url(back4.jpg);
    border: 1px solid darkolivegreen;
    border-radius: 25px;
    /* width: 100; */
    height: 540px;
    margin: 45px;
    background-position:center;
}

.content_image {
    /* background-image:url(back2.jpg); */
    max-width: 100%;
    height: 100%;
}

.content h1 {
    width: 80%;
    color: white;
    font-size: 65px;
    padding-left: 60px;
    padding-top: 60px;
    /* padding: 60px; */
    font-weight: 550;

}
.content h3 {
    color: white;
    font-size: 30px;
    font-weight: 100;
    padding-left: 60px;
    padding-top: 30px;
    margin-bottom: 60PX;
    width: 60%;


}
.content_button1 {
    margin-left: 60px;
    border: 1px solid black;
    border-radius: 35px;
    font-size: 16px;
    padding: 18px 75px;
    color: white;
    background-color: rgb(209, 217, 57);

}

.content_button2 {
    border: 2px solid white;
    border-radius: 35px;
    font-size: 16px;
    padding: 18px 75px;
    margin-left: 30px;
    color: white;
    background: none;
}
.content_button1:hover {
    background-color: black;
}

.content_button2:hover {
    background-color: black;
}
.para{
    padding-top: 50px;
}
.para h1{
    color: black;
    font-size: 50px;
    margin-bottom: 35px;
    margin-left: 60px;
}
.para p{
    /* margin-left: 60px; */
    font-size: 14px;
    line-height:30px;
    margin-left: 60px;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.774);
}
.para a{
    padding: 10px;
    display: block;
    margin-left: 70px;
    margin-top: 10px;

}
.para a:hover{
    background-color: black;
    color: white;
    text-align: center;
    max-width: 15%;
}
.brandlogo{
    font-size: 18px;
    padding: 50px;
    margin-left: 20px;
}
.brandlogo i{
    background-color:black;
    color: white;
    padding: 8px;
    border-radius: 50%;
}
.brandlogo i:hover{
    background-color:rgb(211, 211, 187);
    color: rgb(235, 60, 60);
}
.staff{
    background-color: whitesmoke;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.staff img{
    width: 30%;
    height: 400px;
    border-radius: 30px;
    /* padding: 60px 30px 60px 100px; */
    margin: 90px;
}
.staff h3{
    font-size: 25px;
    font-weight: 120px;
    color: rgba(0, 0, 0, 0.721);
}
.staff p{
    margin-top: 30px;
    font-size: 14px;
    /* letter-spacing: 0.3px; */
    /* word-spacing: 1px; */
    line-height: 35px;
    width: 95%;
    color:rgb(86, 82, 82);
}
staff a{
    color:darkblue;
    font-size: 15px;
}
.staff a:hover{
    color: rgb(162, 223, 71);
}
.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
}
.hooverimage{
    width:500px;
    height: 400px;
}
.hooverimage_body{
    width: 20px;
    height: 10px;
    border: 1px solid black;
}
.hooverimage_body:hover{
    background-color: red;
    transition: 5s;
      transform: rotateY(180deg);
}
.down_para{
    margin-top: 150px;
    padding: 80px;
    height: 700px;
    background-color: whitesmoke;
}
.down_para h2{
    font-size: 25px;
    font-weight: lighter;
}
.down_para p{
    padding-top: 40px;
    font-size: 14px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.765);
}
.down_paraform{
    margin: 2px;

}
.down_paraform h4{
    padding-top: 150px;
    font-size: 24px;
    font-weight: lighter;
}
.down_paraform p{
    padding-top: 40px;
    font-size: 14px;
    line-height: 30px;
    width: 70%;
    color: rgba(0, 0, 0, 0.765);
}


.form{

    padding: 10px;
    width: 220px;
    margin: 10px;
    /* display: flex; */
    justify-content: space-around;
}
.form input{
    border-radius: 30px;
    border: 1px solid rgb(241, 234, 234);
    padding: 15px;
    width: 250px;
    margin: 10px;
    background-color: white;
}
 .down_button{
    border-radius: 30px;
    border: 1px solid rgb(255, 255, 255);
    padding: 15px;
    width: 250px;
    color: white;
    /* height: 35px; */
    display: block;
    margin: 10px;
    background-color: rgb(0, 0, 0);
}

footer{
    width: 100;
    height: 120px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .fa-brands{
    font-size: 30px;
    padding: 10px;
}
footer p{
    font-size: 11px;
    color: white;
    margin-left: 120px;
    padding-top: 10px;
    line-height:23px;    
}
footer input{
    padding: 10px;
    width: 200px;
    /* height: 20px; */
    /* margin: 40px; */
    /* display: flex;
    justify-content: space-around; */
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search a{
    background-color:rgb(154, 105, 25);
    color:white;
    padding: 10px;
}
.search a:hover{
    background-color: rgba(227, 183, 41, 0.863);
}
